body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.counter-display{
  text-align: center;
  font-family: monospace;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 2px 10px 10px hsla(0, 0%, 0%, 0.571);
}
.btn{
  padding: 10px 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin: auto;
  border: none;
  text-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.571);
  border-radius: 20px;
  background-color: hsl(208, 100%, 86%);
  box-shadow: 2px 10px 10px hsla(208, 100%, 86%, 0.778);
  transition: 0.2s background-color ease, 0.2s transform ease;
}
.btn:hover{
  background-color: hsl(208, 100%, 70%);
}
.btn:active{
  background-color: hsl(208, 100%, 60%);
  transform: translateY(2px);
}
.btn-container{
  display: flex;
  flex-direction: row;  
}